#navbar-default {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    background-color: #ffffff;
    border-radius: 0;
    margin-top: 0;
    align-items: center;
}

#tabs:hover {
    color: #7f0019;
}


.table img {
    max-width: 100px;
    height: auto;
}

.recruitment-container {
    margin-top: var(--navbar-height);
    padding: 200px;
}

.form-container {
    margin-top: 80px;  /* 根据导航栏高度调整 */
    padding-top: 30px; /* 可选：增加内部上间距 */
}

/* format for excel tables */
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead {
    background-color: #7f0019;
    color: #ffffff;
}
table thead td {
	background-color:  #dddfe1;
	
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #dddfe1;
}
table tbody td {
	color: #7f0019;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: white;
}
/* table tbody tr:nth-child(odd) {
	background-color: #ffffff;
} */
/* ///////////////////////////*/