body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.breadcrumb a {
    color: #007BFF;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info h2 {
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
    color: #666;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.feedback-form {
    margin-top: 30px;
}

.feedback-form h2 {
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
}

.feedback-form p {
    color: #666;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
}

input, textarea {
    width: 30%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

select {
    width: 300px;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333; /* 調整文字顏色 */
    background-color: #f9f9f9;
    transition: border-color 0.3s ease; /* 添加過渡效果 */
}

select:focus {
    border-color: #66afe9; /* 聚焦時改變邊框顏色 */
    outline: none; /* 移除默認聚焦外框 */
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
