{% extends 'base.html.j2' %}
{% block title %}香薰香水調配工作坊 - MUJI HK{% endblock %}
{% block app_content %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='workshop_page.css') }}">
{% endblock %}

    <div class="container">
        <h1>動物拼貼畫冊工作坊</h1>
        <img src="{{ url_for('static', filename='images/animal_workshop.jpg') }}" alt="動物拼貼畫冊工作坊" class="event-detail-image">
        <p>日期：2025年11月24日（六）</p>
        <p>地點：Café&Meal MUJI合和中心</p>
        <p>活動簡介：透過親子藝術創作，於畫冊上製作富特色的拼貼圖案，並藉此認識世界上需要被保護的可愛動物</p>
        <a href="{{ url_for('events') }}">返回活動列表</a>
        <p><a href="{{ url_for('workshop_submit_form') }}">現即報名</a></p>
    </div>
    
{% endblock %}