{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - MUJI HK
    {% else %}
        {{ _('Welcome to MUJI') }}
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='無印良品 MUJI_files/base_style.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" id="navbar-default">
        <div class="container" >
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='無印良品 MUJI_files/muji-logo.png') }}" width="45px" height="30px" padding="10px"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="z-index: 999; background-color: #ffffff;">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('index') }}" id="tabs" >{{ _('Home') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('product') }}" id="tabs">{{ _('Product') }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="z-index: 999; background-color: #ffffff; border-radius: 0px;">
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('cart') }}" id="tabs" >{{ _('Cart') }} ({{ cart_count }})</a>
                        </li>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <li>
                            <a href="{{ url_for('admin') }}" id="tabs" >{{ _('Admin') }}</a>
                        </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('order_history') }}" id="tabs" >{{ _('Order History') }}</a>
                        </li>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <li>
                            <a href="{{ url_for('user_management') }}" id="tabs" >{{ _('User Management') }}</a>
                        </li>
                    {% endif %}
                    {% if current_user.is_anonymous %}
                        <li>
                            <a href="{{ url_for('login') }}" id="tabs" >{{ _('Login') }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('user', username=current_user.username) }}" id="tabs" >{{ _('Profile') }}</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}" id="tabs" >{{ _('Logout') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}<div class="alert alert-info" role="alert">{{ message }}</div>{% endfor %}
            {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
