{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <div class="row"> 
    <div class="col-md-4" style="top: 50px"><div style="font-weight:500; font-size:xx-large; color:#7f0019"> MUJI 員工專用 </div>{{ wtf.quick_form(form) }}</div>        
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>
    <h3><a href="{{ url_for('product') }}" target="_self" style="font-size:large;color:#7f0019">Back</a></h3>
    </div>
{% endblock %}