<!-- index.html -->
<!DOCTYPE html>
<html lang="zh-HK">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>無印良品香港 | MUJI Hong Kong</title>
  <link rel="stylesheet" href="./static/style2.css">
</head>
<body>
  <!-- 導航欄 -->
  <nav class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='images/muji-logo.png') }}" width="300" height="200" alt="MUJI Logo">
    </div>
    <ul class="nav-links"></ul>
      <li><a href="register">註冊/登入</a></li>
      <li><a href="store">最新消息</a></li>
      <li><a href="events">店內活動</a></li>
      <li><a href="contact-us">顧客服務</a></li>
      <li><a href="what_is_muji_workshop">What is MUJI</a></li>
    </ul>
  </nav>

  <!-- 主視覺 Banner -->
  <section class="banner">
    <img src="{{ url_for('static', filename='images/home-banner.png') }}" width="300" height="200" alt="主視覺圖片">
  </section>

  <!-- 商品分類 -->
  <section class="product-categories">
    <h2>人氣產品</h2>
    <div class="category-grid"> 
      <div class="category-item">
      <li><a href="#"><img src="{{ url_for('static', filename='images/furniture.jpg') }}" alt="家具"></a></li>
      </div>
    <div class="stationer">
      <li><a href="#"><img src="{{ url_for('static', filename='images/stationery.jpg') }}" alt="文具"></a></li>
    </div>
      <!-- 其他分類... -->
    </div>
  </section>

  <!-- 店舗列表 -->
  <div class="store-container">
    <h1>香港店舗情報</h1>
  <div class="store-list">
    <div class="store-item" data-lat="22.3193" data-lng="114.1694" data-store-id="1">
      <h3>無印良品 銅鑼灣店</h3>
      <p>地址：銅鑼灣告士打道311號皇室堡地庫</p>
      <p>電話：+852 3971 3110</p>
    </div>
    <div class="store-item" data-lat="22.2974" data-lng="114.1723" data-store-id="2">
      <h3>無印良品 尖沙咀店</h3>
      <p>地址：尖沙咀彌敦道 132 號美麗華廣場一期低層地下 B103-B115 及B131-B141號舖</p>
      <p>電話：+852 3971 3160</p>

  <!-- 頁腳 -->
  <footer class="footer">
    <ul class="nav-links">
      <li><a href="intord">企業理念</a></li>
      <li><a href="recruitment">工作機會</a></li>
      <li><a href="open_muji">Open MUJI</a></li>
      </ul>
    <p>&copy; 2025 MUJI Hong Kong</p>
    
  </footer>
</body>
</html>