{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<img src="{{ url_for('static', filename='無印良品 MUJI_files/muji_cycle_banner.jpg') }}" width="100%" height="auto">

</div><div style="display: flex; justify-content: center; align-items: center;">
<img src="{{ url_for('static', filename='無印良品 MUJI_files/mujiXmill.jpg') }}" width="30%" height="auto">
</div>
{% endblock %}
