{% extends 'base.html.j2' %}
{% block title %}展覽列表 - MUJI HK{% endblock %}
{% block app_content %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='open_muji.css') }}">
{% endblock %}

    <div class="container">
        <div class="breadcrumb">
            <a href="/">首頁</a> &gt; 展覽列表
        <!-- 標題 -->
        <h1 class="page-title">Open MUJI</h1>
        <p class="page-description">
            Open MUJI 為一個展示無印良品提案，與顧客交流的活動空間。
        </p>
        <img src="{{ url_for('static', filename='images/G8_writing.jpg') }}" alt="G8_writing" class="event-detail-image">

    <div class="event-list">
        <!-- 分類 1 -->
        <h2 class="category-title">MUJI 無印良品</h2>
        <div class="event">
            <h3>無印良品 Mil Mill 喵坊展示</h3>
            <p class="date">Feb 2025</p>
            <img src="{{ url_for('static', filename='images/muji_mil_mil.jpg') }}" 
                 alt="muji_mil_mil" 
                 class="event-detail-image">
        </div>

        <div class="event">
            <h3>無印良品 八八木書法展示</h3>
            <p class="date">Feb 2025</p>
            <img src="{{ url_for('static', filename='images/G8_writing.jpg') }}" 
                 alt="G8_writing" 
                 class="event-detail-image">
        </div>

        <div class="event">
            <h3>無印良品 Ditto Ditto 香港主題活版印刷展覽</h3>
            <p class="date">Nov 2025</p>
            <img src="{{ url_for('static', filename='images/ditto.jpg') }}" 
                 alt="ditto" 
                 class="event-detail-image">
        </div>
    </div>

{% endblock %}
