<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>招聘頁面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='recruitment.css') }}">
</head>
<body>
    
    <p>自1980年誕生的無印良品，是一個沒有名字但以品質優良為原則的生活美學專門店，一直以簡約的理念為品牌哲學，發展至今銷售產品由衣服鞋襪、家居用品以至食品等，種類達七千多種，照顧日常所需。</p>
    <P>如果你也喜愛和認同MUJI無印良品，歡迎加入成為我們的一份子，一同傳達無印良品的舒適生活理念。</P>
    <h1>歡迎加入無印良品大家庭！</h1>
    <a href="{{ url_for('recruitment_form') }}">店舖職位空缺</a>
</body>
</html>