{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row" style="background-color: #7f0019; color: white; font-size: x-large; font-weight: 400; padding: 10px"; margin: 50px 0 50px 0;> 商品換貨及退貨須知 </div>
<div class="row"><pre style="background-color: white; border: 0;">


換貨:

1.	換貨服務必須在購買日期的 14 個日曆日內透過無印良品香港實體店 舖進行更換。您需要出示附有二維碼的網上商店收據或其訂單號碼於實體店舖辦理換貨。
2.	實體店舖只接受從無印良品香港官方網上商店或無印良品香港店舖購買的 商品的更換要求。於其他指定網上商店購買的商品，將會根據該網上平台的商品退換條款/政策處理。
3.	換貨服務均取決於無印良品香港實體店舖內商品的庫存情況。
4.	除非另有說明，商品只可更換一次。
5.	如果您無法依要求提供附有二維碼的網上商店收據或其訂單號碼，我們有權拒絕您的換貨要求。
6.	商品換貨服務不適用於以下商品或情況：
 	
(i)	品質問題商品；或
(ii)	禮券 / 食品 / 個人護理用品 / 內褲 / 浴室布藝 / 書籍 / 植物 / 消毒用品 / 訂購商品 / 訂造商品 / 經刺繡、修改或安裝的商品 / 服務費；或
(iii)	非因生產工序而造成的商品缺陷，包括但不限於因物料的天然特性而令商品與陳列品或圖片出現差異 (例如皮紋、木紋、木眼及木材顏色等)，經修改、安裝或不適當使用等人為因素，
        或其他外在或環境因素而導致的損壞，及/或正常使用下出現的自然損耗。
7.	退換貨之商品須未曾穿着/洗滌/修改、未使用並保留完好吊牌/標籤及原有包裝。
8.	退回商品時，顧客須一併交回購買時原來狀態並保留完整包裝的贈品、換購品或禮券。如未能交回贈品、換購品或禮券，香港無印良品有權拒絶顧客的退貨要求。
9.	香港無印良品有權修訂以上條款及細則，且不作事先通知。
10.	如有任何爭議，香港無印良品保留最終決定權。
11.	有關商品退換貨詳情，請參閱"條款及細則"第22-24段。


退貨:

1.	如顧客是因商品品質或送貨內容不符要求退貨，須於在購買日期的 14 個日曆日內聯絡顧客服務申請退貨，本公司會盡快跟進。
2.	門市無法處理經無印良品香港官方網上商店購買的商品退貨，必需透過電郵聯絡顧客服務申請退貨。
3.	除非商品基於品質問題而退貨，否則您同意承擔送貨費用及連同處理退貨申請以及因拒絕您的申請而在退貨過程中所產生的費用。
4.	退貨申請接納後，該訂單產生的電子優惠碼將會即時取消。
5.	每張訂單只可作出一次退換貨申請。
6.	退款將以付款形式支付，已使用禮券及優惠碼不會退回。
7.	如未能出示有效收據，香港無印良品有權拒絶顧客的退貨要求。
8.	商品退貨服務不適用於以下商品或情況：
 	
(i)	非品質問題商品；或
(ii)	禮券 / 食品 / 個人護理用品 / 內褲 / 浴室布藝 / 書籍 / 植物 / 消毒用品 / 訂購商品 / 訂造商品 / 經刺繡、修改或安裝的商品 / 服務費；或
(iii)	非因生產工序而造成的商品缺陷，包括但不限於因物料的天然特性而令商品與陳列品或圖片出現差異 (例如皮紋、木紋、木眼及木材顏色等)，經修改、安裝或不適當使用等人為因素，
        或其他外在或環境因素而導致的損壞，及/或正常使用下出現的自然損耗。
9.	退換貨之商品須未曾穿着/洗滌/修改、未使用並保留完好吊牌/標籤及原有包裝。
10.	退回商品時，顧客須一併交回購買時原來狀態並保留完整包裝的贈品、換購品或禮券。如未能交回贈品、換購品或禮券，香港無印良品有權拒絶顧客的退貨要求。
11.	香港無印良品有權修訂以上條款及細則，且不作事先通知。
12.	如有任何爭議，香港無印良品保留最終決定權。
13.	有關商品退換貨詳情，請參閱"條款及細則"第22-24段



</code></pre></div>

<div class="row" style="background-color: #7f0019; color: white; font-size: x-large; font-weight: 400; padding: 10px"; margin: 50px 0 50px 0;> 店舖自取/一般商品配送服務退貨流程 </div>
<div class="row"><pre style="background-color: white; border: 0;">


請確保商品符合退換貨條款及細則，並在收到商品後的14天內按以下步驟進行申請﹕

1.	請以電郵方式聯絡顧客服務申請退貨及提供以下資料:
 	
(i)	購買收據號碼
(ii)	退貨商品貨號、商品數量、商品標籤相片
(iii)	商品品質問題詳情及相片
顧客服務:
電郵: onlineshopcs@muji.com.hk
電話: +852 2694 9309 (選擇語言後按3字)
2.	顧客服務會在5個工作天內審核您的申請及以電郵通知您審核結果。
3.	如顧客服務在審核後接納您的申請，您會收到退貨安排電郵。請在3天內跟電郵指示填寫退貨資料及選擇收貨日期，然後您會在2個工作天內收到退貨確認電郵並附上退貨表格。
4.	請在收貨前把退貨商品跟以下「退貨包裝指引」包裝妥當:
 	
(i)	 退貨的商品必須為完整包裝(包含商品本體外，配件、贈品、保證書、原廠包裝、附隨文件、購買收據均須包含在內)。
(ii)  請您以送貨使用之包裝紙箱將退貨商品包裝妥當，若原紙箱已遺失或損毀，請另使用其他紙箱代替。
(iii) 請列印退貨表格及放在紙箱內。
(iv)  如退貨的商品為易碎物品，請用報紙或其他柔軟物品將空隙處填滿及在外箱貼上易碎標籤。
5.	倉庫收到退貨後會查看該商品是否符合退貨及退款細則。經確認後，顧客服務會發出確認退款指示，您將透過原本的付款方式獲得退款，
    一般會在30個工作天內完成退款，但實際退款時間則視乎發卡機構、銀行或電子支付機構而定。
</code></pre></div>
<hr>
<div class="row" style="font-weight:500; font-size:xx-large; color:#7f0019; padding: 20px;"> 退換貨自助申請表</div>
    <div class="row">
        <div class="col-md-6">
            {{ wtf.quick_form(form, novalidate=True) }}
        </div>
    </div>
{% endblock %}