{% extends "base.html.j2" %}

{% block app_content %}

<title>
新聞 | 無印良品
</title>
<body>
    <div align="center">
      <a href="/"><img src="{{ url_for('static', filename='images/muji-logo.png') }}" width="600" height="200" alt="MUJI Logo"></a>
      </div>
    </body>
<h2 class="content-title">新聞</a></h2>


<article class="releaseBox">
<h1 class="entry-title">最新營業時間</a></h1>
<p class="postdata">發布日期 <time datetime="2025-03-21">2025-03-21</time></p>
<section class="releaseBox-contents">
<p>為配合營運安排，各店營業時間將更改如下 。</p>
<p>&nbsp;</p>
<table style="border-collapse: collapse;width: 100%" border="1" cellspacing="0" cellpadding="1">
<tbody>
<tr style="height: 50px">
<td style="text-align: center;vertical-align: middle" width="40%">店舖</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期一至星期五</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期六、日及公眾假期&nbsp;</td>
</tr>
<tr>
<td style="vertical-align: middle;text-align: left" width="40%">無印良品店舖<br>屯門市廣場 /&nbsp;apm&nbsp;/&nbsp;又一城 /&nbsp;新都會廣場 / 德福廣場</td>
<td style="text-align: center;vertical-align: middle" colspan="2" width="30%">&nbsp;11:00&nbsp;– 22:00&nbsp;</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">無印良品店舖<br>形點&nbsp;/&nbsp;沙田新城市廣場</td>
<td style="padding: 2px;vertical-align: middle;text-align: center">11:00&nbsp;– 21:30</td>
<td style="padding: 2px;vertical-align: middle;text-align: center">11:00&nbsp;–&nbsp;22:00</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">無印良品店舖<br>美麗華廣場 / 太古城中心&nbsp;/ 奧海城 / 太古廣場 /&nbsp;皇室堡 /&nbsp;朗豪坊期間限定店</td>
<td style="padding: 2px;vertical-align: middle;text-align: center" colspan="2">11:00&nbsp;–&nbsp;21:30</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">無印良品店舖<br>AIRSIDE</td>
<td style="padding: 2px;vertical-align: middle;text-align: center">11:30&nbsp;–&nbsp;20:30</td>
<td style="padding: 2px;vertical-align: middle;text-align: center">11:00&nbsp;–&nbsp;21:00</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">無印良品店舖<br>如心廣場 /&nbsp;圍方</td>
<td style="padding: 2px;vertical-align: middle;text-align: center" colspan="2">11:00&nbsp;– 21:00</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">MUJI to GO<br>港鐵香港站&nbsp;/&nbsp;港鐵青衣站</td>
<td style="padding: 2px;vertical-align: middle;text-align: center" colspan="2">09:00&nbsp;– 21:00</td>
</tr>
<tr style="height: 50px">
<td style="text-align: center;vertical-align: middle" width="40%">店舖</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期日至星期四及公眾假期</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期五、六及公眾假期前夕&nbsp;</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">無印良品店舖<br>利舞臺廣場 /&nbsp;新都城中心</td>
<td style="padding: 2px;vertical-align: middle;text-align: center">11:00&nbsp;– 21:30</td>
<td style="padding: 2px;vertical-align: middle;text-align: center">11:00&nbsp;–&nbsp;22:00</td>
</tr>
<tr style="height: 50px">
<td style="text-align: center;vertical-align: middle" width="40%">店舖</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期日至星期四</td>
<td style="text-align: center;vertical-align: middle" width="30%">
<div>
<div>星期五、六及公眾假期</div>
</div>
</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">無印良品店舖<br>荷里活廣場</td>
<td style="padding: 2px;vertical-align: middle;text-align: center">11:00&nbsp;– 21:00</td>
<td style="padding: 2px;vertical-align: middle;text-align: center">10:30&nbsp;–&nbsp;21:30</td>
</tr>
<tr style="height: 50px">
<td style="text-align: center;vertical-align: middle" width="40%">店舖</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期一至星期四</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期五、六、日及公眾假期</td>
</tr>
<tr style="height: 50px">
<td style="vertical-align: middle;text-align: left" width="40%">無印良品店舖<br>澳門威尼斯人</td>
<td style="text-align: center;vertical-align: middle" width="30%">10:30&nbsp;–&nbsp;22:00</td>
<td style="text-align: center;vertical-align: middle" width="30%">10:30&nbsp;–&nbsp;22:30</td>
</tr>
<tr style="height: 50px">
<td style="text-align: center;vertical-align: middle" width="40%">店舖</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期一至星期五</td>
<td style="text-align: center;vertical-align: middle" width="30%">星期六、日及公眾假期</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">Café&amp;Meal MUJI<br>美麗華廣場</td>
<td style="padding: 2px;vertical-align: middle;text-align: center" colspan="2">08:00&nbsp;– 21:30<br>最後點餐時間：21:00</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">Café&amp;Meal MUJI<br>又一城</td>
<td style="padding: 2px;vertical-align: middle;text-align: center" colspan="2">11:00&nbsp;– 22:00<br>最後點餐時間：21:30</td>
</tr>
<tr>
<td style="padding: 2px;vertical-align: middle">Café&amp;Meal MUJI<br>奧海城&nbsp; /&nbsp;皇室堡</td>
<td style="padding: 2px;vertical-align: middle;text-align: center" colspan="2">11:00&nbsp;– 21:30<br>最後點餐時間：21:00</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>店舖地址及電話：</p>
<table style="border: 1;border-collapse: collapse;width: 100%" border="1" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td colspan="2"><span style="padding: 2px;color: #993300">無印良品</span></td>
</tr>
<tr>
<td style="padding: 2px" colspan="2" width="60%">香港&nbsp;</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">
<p>利舞臺廣場<br>香港銅鑼灣波斯富街99號利舞臺廣場3樓</p>
</td>
<td style="padding: 2px">3971 3120</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">
<p>太古廣場<br><span class="ui-provider a b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak" dir="ltr">香港金鐘金鐘道88號太古廣場1樓100號舖</span></p>
</td>
<td style="padding: 2px">3973 8370</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">太古城中心<br>香港太古城太古城道18號<span style="font-weight: 400">太古城中心2樓及3樓245及301號舖</span></td>
<td style="padding: 2px">3971 3170</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">
<div class="shopname">皇室堡</div>
<p>香港銅鑼灣告士打道311號皇室堡地庫</p>
</td>
<td style="padding: 2px">3971 3110</td>
</tr>
<tr>
<td style="padding: 2px" colspan="2" width="60%">九龍&nbsp;</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">美麗華廣場<br>九龍尖沙咀彌敦道132號美麗華廣場一期低層地下B103-B115及B131-B141號舖</td>
<td style="padding: 2px">3971 3160</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">奧海城<br>九龍西九龍海庭道18號奧海城2期G樓G78, K01-03及K05-10店</td>
<td style="padding: 2px">3971 3230</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">朗豪坊期間限定店 <br>九龍旺角亞皆老街8號朗豪坊7樓</td>
<td style="padding: 2px">3971 3140</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">apm<br>九龍觀塘觀塘道418號創紀之城五期apm 1樓1A店</td>
<td style="padding: 2px">3971 3150</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">德福廣場<br>九龍九龍灣偉業街33號德福廣場二期401,402及431舖</td>
<td style="padding: 2px">3973 8380</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">又一城<br>九龍九龍塘達之路80號又一城LG1層LG1-30 店</td>
<td style="padding: 2px">3971 3208</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">AIRSIDE<br>九龍啟德協調道2號AIRSIDE 4樓408-410號舖</td>
<td style="padding: 2px">3971 3158</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">荷里活廣場<br>九龍鑽石山荷里活廣場1樓125-127號舖</td>
<td style="padding: 2px">3971 3220</td>
</tr>
<tr>
<td style="padding: 2px" colspan="2" width="60%">新界&nbsp;</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">如心廣場<br>新界荃灣如心廣場一期2樓204A、 208-211及 213-216號舗</td>
<td style="padding: 2px">3971 3250</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">沙田新城市廣場<br>新界沙田沙田正街2-8號新城巿廣場3期2樓A221舖</td>
<td style="padding: 2px">3971 3130</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">圍方<br>新界沙田大圍車公廟路18號圍方2樓237號舖</td>
<td style="padding: 2px">3971 3138</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">新都城中心<br>新界寶林欣景路8號新都城中心二期1樓1050-53號舖</td>
<td style="padding: 2px">3971 3261</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">新都會廣場<br>新界葵芳興芳路223號新都會廣場3樓346-347店</td>
<td style="padding: 2px">3973 8350</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">形點<br>新界元朗朗日路9號形點I 1樓1002-1003號舖</td>
<td style="padding: 2px">3973 8360</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">屯門市廣場<br>新界屯門屯盛街1號屯門巿廣場1期1樓1140舖</td>
<td style="padding: 2px">3971 3180</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">澳門</td>
<td style="padding: 2px">&nbsp;</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">威尼斯人<br>澳門威尼斯人購物中心3樓205舖</td>
<td style="padding: 2px">2851 5050</td>
</tr>
</tbody>
</table>
<table style="border: 1;border-collapse: collapse;width: 100%" border="1" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td colspan="2"><span style="padding: 2px;color: #993300">MUJI to GO</span></td>
</tr>
<tr>
<td style="padding: 2px" width="60%">港鐵香港站<br>香港港鐵香港站L3層HOK 47店</td>
<td style="padding: 2px">3971 3290</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">港鐵青衣站<br>新界青衣港鐵青衣站1樓TSY 58-59舖</td>
<td style="padding: 2px">3973 8368</td>
</tr>
</tbody>
</table>
<table style="border: 1;border-collapse: collapse;width: 100%" border="1" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td colspan="2"><span style="padding: 2px;color: #993300">Café&amp;Meal MUJI</span></td>
</tr>
<tr>
<td style="padding: 2px" width="60%">美麗華廣場<br>九龍尖沙咀彌敦道132號美麗華廣場一期低層地下B103-B115及B131-B141號舖D部份</td>
<td style="padding: 2px">3971 3161</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">奧海城<br>九龍西九龍海庭道18號奧海城2期G樓K01-03店</td>
<td style="padding: 2px">3971 3240</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">又一城<br>九龍九龍塘達之路80號又一城LG1層LG1-30 店</td>
<td style="padding: 2px">3971 3218</td>
</tr>
<tr>
<td style="padding: 2px" width="60%">
<div class="shopname">皇室堡</div>
<p>香港銅鑼灣告士打道311號皇室堡地庫1B號舖</p>
</td>
<td style="padding: 2px">3971 3115</td>
</tr>
</tbody>
</table>
</section>

{% endblock %}


